:root {
--navy: #0e365a;
--navy-dark: #071c2e;
--blue: #14599d;
--blue-dark: #0e3f70;
--green: #00794a;
--green-dark: #00462b;
--muted: #666;
--red: #9a2222;
--red-dark: #701919;
--orange: #c94100;
--orange-dark: #963100;
--purple: #670a6f;
--purple-dark: #331f5f;
--yellow: #ffc615;
--yellow-light: #fffbf4;
--white: #fff;
--black: #000;
--opaque: rgba(255, 255, 255, 0.2);
--gray-50: #fafafa;
--gray-100: #f2f2f2;
--gray-200: #ddd;
--gray-300: #ccc;
--gray-400: #b3b3b3;
--gray-500: #999;
--gray-600: #666;
--gray-700: #4d4d4d;
--gray-800: #333;
--gray-900: #1a1a1a;
--facebook: #4267b2;
--flickr: #ff0084;
--google: #dd4b39;
--instagram: #3897f0;
--linkedin: #0077b5;
--pinterest: #e60023;
--twitter: #00aced;
--yahoo: #720e9e;
--youtube: #c00;
--input-btn-focus-color: rgba(0, 0, 0, 0.75);
--input-btn-focus-box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.75);
--form-label-color: ;
--input-plaintext-color: #1a1a1a;
--body-bg: #fff;
--body-color: #1a1a1a;
--body-text-align: ;
--border-color: #ddd;
--border-width: 1px;
--border-radius-sm: 0.25rem;
--border-radius: 0.5rem;
--border-radius-lg: 1rem;
--box-shadow-sm: 0 0 4px rgba(0, 0, 0, 0.04);
--box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
--box-shadow-lg: 0 0 16px rgba(0, 0, 0, 0.16);
--code-color: #670a6f;
--code-font-size: 0.875em;
--pre-color: ;
--dt-font-weight: 700;
--hr-color: inherit;
--hr-height: 1px;
--hr-margin-y: 10px;
--hr-opacity: 0.2;
--kbd-bg: #1a1a1a;
--kbd-color: #fff;
--kbd-font-size: 0.875em;
--kbd-padding-x: 0.4rem;
--kbd-padding-y: 0.2rem;
--nested-kbd-font-weight: 700;
--legend-font-size: 1.5rem;
--legend-font-weight: ;
--legend-margin-bottom: 0.5rem;
--link-color: #14599d;
--link-decoration: none;
--link-hover-color: #0b3359;
--link-hover-decoration: underline;
--list-item-margin-bottom: unset;
--list-margin-bottom: 1rem;
--list-padding-left: 2rem;
--mark-bg: #fffbf4;
--mark-padding: 0.2em;
--paragraph-margin-bottom: 1rem;
--font-family-base: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, Arial, sans-serif;
--font-family-serif: Georgia, serif;
--font-size-base: 1rem;
--font-size-xs: 0.75rem;
--font-size-sm: 0.875rem;
--font-size-lg: 1.125rem;
--font-size-xl: 1.25rem;
--font-weight-base: 400;
--font-weight-light: 300;
--font-weight-normal: 400;
--font-weight-semi-bold: 600;
--font-weight-bold: 700;
--font-weight-extra-bold: 800;
--h1-font-size: clamp(1.5rem, 2.1vw, 2rem);
--h2-font-size: clamp(1.25rem, 2vw, 1.5rem);
--h3-font-size: 1.25rem;
--h4-font-size: 1.125rem;
--h5-font-size: 1rem;
--h6-font-size: 1rem;
--headings-font-family: ;
--headings-font-style: ;
--headings-font-weight: 800;
--headings-line-height: 1.2;
--headings-margin-bottom: 1rem;
--display1-size: clamp(2.8rem, 2vw, 3.75rem);
--display2-size: clamp(2rem, 2vw, 2.8rem);
--display3-size: clamp(2rem, 2vw, 2.8rem);
--display4-size: clamp(2rem, 2vw, 2.8rem);
--display1-weight: 800;
--display2-weight: 800;
--display3-weight: 800;
--display4-weight: 800;
--display-line-height: 1.2;
--letter-spacing-normal: normal;
--letter-spacing-lg: 0.05em;
--line-height-sm: 1.2;
--line-height-base: 1.4;
--line-height-lg: 1.6;
--small-font-size: 0.875em;
--input-bg: #fff;
--input-border-color: #666;
--input-border-radius: 0.5rem;
--input-border-width: 1px;
--input-box-shadow: ;
--input-color: #666;
--input-font-family: ;
--input-font-size: 1rem;
--input-font-weight: 400;
--input-height: calc(1.4em + 1.5em + 2px);
--input-line-height: 1.4;
--input-padding-x: 1.25em;
--input-padding-y: 0.75em;
--input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
--input-focus-bg: #fff;
--input-focus-color: #666;
--input-focus-border-color: #262626;
--input-focus-box-shadow: ;
--input-placeholder-color: #999;
--input-disabled-bg: #f2f2f2;
--input-disabled-border-color: #999;
--input-disabled-color: #999;
--input-border-radius-xs: 0.25rem;
--input-font-size-xs: 0.75rem;
--input-height-xs: calc(1.4em + 1.5em + 2px);
--input-padding-x-xs: 1.25em;
--input-padding-y-xs: 0.75em;
--input-border-radius-sm: 0.25rem;
--input-font-size-sm: 0.875rem;
--input-height-sm: calc(1.4em + 1.5em + 2px);
--input-padding-x-sm: 1.25em;
--input-padding-y-sm: 0.75em;
--input-border-radius-lg: 1rem;
--input-font-size-lg: 1.125rem;
--input-height-lg: calc(1.4em + 1.5em + 2px);
--input-padding-x-lg: 1.25em;
--input-padding-y-lg: 0.75em;
--input-border-radius-xl: 1rem;
--input-font-size-xl: 1.25rem;
--input-height-xl: calc(1.4em + 1.5em + 2px);
--input-padding-x-xl: 1.25em;
--input-padding-y-xl: 0.75em;
--grey-box-border-width: 2px;
--grey-box-content-max-width: 952px;
--grey-box-negative-margin: calc(var(--grey-box-padding) * -1);
--grey-box-padding: 30px;
--tlr-border-width-desktop: 2px;
--tlr-border-width-mobile: 1px;
--100svh: 100svh;
--global-nav-height: 55px;
--red-400: #f87171;
--red-200: #fecaca;
--orange-400: #fb923c;
--orange-200: #fed7aa;
--blue-400: #60a5fa;
--blue-200: #bfdbfe;
--blue-100: #bfd1ff;
--lime-400: #a3e635;
--lime-200: #d9f99d;
--purple-400: #c084fc;
--purple-200: #e9d5ff;
--yellow-400: #facc15;
--yellow-200: #fef08a;
--emerald-400: #34d399;
--emerald-200: #a7f3d0;
--sky-50: #ECFEFF;
--sky-200: #BAE6FD;
--fa-style-family-brands: "Font Awesome 6 Brands";
--fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
--fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
--fa-style-family-classic: "Font Awesome 6 Free";
--fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
--100vh: 1060px;
font-family: var(--font-family-base);
line-height: var(--line-height-base);
color: var(--body-color);
text-align: var(--body-text-align);
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
font-size: 16px;
font-weight: 400;
--grid-gutter-y: 0;
--grid-gutter-x: 20px;
border-width: initial;
border-style: none;
border-color: initial;
border-image: initial;
outline: none;
box-sizing: border-box;
grid-area: readingChannel;
container-name: reading-channel;
container-type: inline-size;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

[id*="google_ads"] {
    /* Your styles here */
    display: none !important;
  }

.redheader {
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 10vh;
    padding-bottom: vh;
    background-color: var(--red);
}

.whiteheader {
    left:5%;
    position: absolute;
    color: var(--white);
}