

/* Reset default browser styles */
*, *::after, *::before {
    box-sizing: border-box;
  }

/* Set a default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: purple;
}

button{
    cursor: pointer;
}


/* modal styling */
.modal {
    display: none;
    opacity: 0;
    transition: 300ms ease-in;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 80%;
    color: rgb(212, 199, 199);
}
/* 
 .modal-content {
    opacity: 0;
}  */

.modal.active {
    display: block;
    opacity: 1; 
    width: 100vw;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.close-button{
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-body {
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: 300ms ease-in-out;
    backdrop-filter: blur(2px); 
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

